<label for="userSpecifiedLocation">
    Location to get weather for: 
    <input type="text" id="userSpecifiedLocation" class="form-control" 
        [formControl]="userSpecifiedLocation" required>
</label>
<p>
    <button (click)="onFetchWeather()">Fetch Weather</button>
</p>
<div *ngIf="userSpecifiedLocation.invalid && (userSpecifiedLocation.dirty || userSpecifiedLocation.touched)"
    class="alert alert-danger">
    Invalid City, Country
</div>


<div *ngIf="weatherConditionsRetrieved$ | async">
    <p>
        Current Temp: {{ weatherDataToDisplay.temperatureData["temp"] }}
        Winds: {{ weatherDataToDisplay.temperatureData["wind_speed"] }}
        Clouds: {{ weatherDataToDisplay.outsideWeatherCondition[0]["description"] }}
    </p>
</div>

