<!-- <label for="userSpecifiedLocation">
    Location to get weather for: 
    <input type="text" id="userSpecifiedLocation" class="form-control" 
        [formControl]="userSpecifiedLocation" required>
</label>
<p>
    <button (click)="onFetchWeather()">Fetch Weather</button>
</p>
<div *ngIf="userSpecifiedLocation.invalid && (userSpecifiedLocation.dirty || userSpecifiedLocation.touched)"
    class="alert alert-danger">
    Invalid City, Country
</div>


<div *ngIf="weatherConditionsRetrieved$ | async">
    <p>
        Current Temp: {{ weatherDataToDisplay.temperatureData["temp"] }}
        Winds: {{ weatherDataToDisplay.temperatureData["wind_speed"] }}
        Clouds: {{ weatherDataToDisplay.outsideWeatherCondition[0]["description"] }}
    </p>
</div> -->

<div class="container h-100 center">
  <div class="row w-100 d-md-block">
      <div class="col-md-4 float-right">
          <div class="news-information-container card shadow-sm"></div>
      </div>
      <div class="col-md-8 float-left order-1 p-0">
          <div class="weather-information-container card shadow-sm"></div>
      </div>
      <div class="col-md-4 float-right order-0">
          <div class="sun-information-container card shadow-sm"></div>
      </div>
  </div>
</div>
